<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/CommentProject/ApiScript.js"></script>
</head>
<body>
    @Html.Partial("/Views/Partials/_NavBar.cshtml")


    <div class="container body-content">
        @RenderBody()
    </div>

</body>
</html>