body{
    background-color: #fff;
}
.top-nav-list{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: grey;
}
.top-nav-list li{
    display: inline;
    padding: 10px;
    color: white;
    border-right: 1px solid #bbb;
}
