<div class="container" id="topicform">
    <div class="dialogbox">
        <div class="body">
            <span class="tip tip-up"></span>
            <form id="PostForm">
                <div class="smallerz">
                    <input id="" name="Author" type="text" placeholder="Name" />
                    <input id="" name="Topic" type="text" placeholder="Topic" />
                </div>
                <input id="" name="Message" type="text" placeholder="Comment" />
            </form>
            <span class="comment" id="postbutton">Post</span>
        </div>
    </div>
</div>
