<div class="container" id="topicform">
    <div class="dialogbox">
        <div class="body">
            <span class="tip tip-up"></span>
            <form>
                <div class="smallerz">
                    <input  id="" name="author" type="text" placeholder="Name" />
                    <input  id="" name="topic" type="text" placeholder="Topic" />
                </div>               
                <input id="" name="message" type="text" placeholder="comment..." />
            </form>
        </div>
    </div>
</div>
