<div class="nav-bar-wrapper">
    <ul class="top-nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/Create">Create Topic</a></li>
        <li><a href="/Search">Search Topic</a></li>
        <li><a id="random" href="#">Covfefe</a></li>
    </ul>
</div>
