<div class="nav-bar-wrapper">
    <ul class="top-nav-list">
        <li><a href="/Home/Index">Home</a></li>
        <li><a href="/CreateTopic/Index">Create Topic</a></li>
        <li><a href="/SearchTopic/Index">Search Topic</a></li>
        <li><a href="/Home/Index">Covfefe</a></li>
    </ul>
</div>
