
<div>
    <h2>All Comments</h2>
    <ul id="comments" />
</div>
<div>
    <h2>Make comment</h2>
    <form id="PostForm">
        <input name="Author" type="text" placeholder="Name" />
        <input name="Topic" type="text" placeholder="Topic" />
        <input name="Message" type="text" placeholder="Comment" />
        <input type="submit" value="Submit" />
    </form>
</div>


<script>$(Document).ready(CommentProject.Api.getAllComments())</script>