<h2>Search Topic</h2>

<div>
    <ul id="comments" />
</div>

<div>
    <h2>Search by topic please</h2>
    <form id="SearchTopicForm">
        <input name="topic" type="text" placeholder="topic" />
        <input type="submit" value="Submit" />
    </form>
</div>

