<div class="search-wrapper">
    <form id="SearchTopicForm">
        <input name="topic" type="text" placeholder="Search..." /><input type="submit" value="submit" />
    </form>
    <div>
        <ul id="comments" />
    </div>
</div>

