<div id="home-page-wrapper">
    <section id="home-page-directives">
        Browse<br />
        some<br />
        stuff<br />
    </section>

    <section id="home-page-list">
        <ul id="topics"></ul>
    </section>
</div>

<ul id="selectedtopic"></ul>
@Html.Partial("/Views/Partials/_Topics.cshtml")