<section id="home-page-directives">
    Browse<br />
    some<br />
    stuff<br />
</section>

<section id="home-page-list">
    <ul id="topics"></ul>
</section>

<ul id="selectedtopic"></ul>
@Html.Partial("/Views/Partials/_Topics.cshtml")